@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
html,
body {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  font-synthesis: none;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

@layer components {
  .btn-white {
    @apply duration-300 py-2 px-4 border-gray-1000 text-gray-300 border rounded-md hover:shadow
  }
  .btn-violet {
    @apply duration-300 py-2 px-4 border-gray-300 text-gray-300 border rounded-md bg-violet-3 disabled:cursor-not-allowed disabled:bg-gray-1000 disabled:text-gray-100 hover:shadow
  }
  .row-container{
    @apply flex flex-row;
  }
  .col-container{
    @apply flex flex-col;
  }
  .general-input{
    @apply px-3 py-2 rounded-lg;
  }
}

@layer base {
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-900 rounded-2xl
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  outline-color: #46A6FF;
  box-sizing: border-box;
}

input, textarea {
  outline-width: 1px;
}
button{
  transition: 0.3s;
}