@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
*{
  outline: none;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
}
a{
  all: unset;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Notice */
.notice-container{
  font-size: medium;
  font-weight: lighter;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  align-items: flex-start;
}
.notice-container .phone-view{
  flex: 0.35;
  margin-top: 100px;
  align-items: center;
}
.notice-container .text-view{
  flex: 0.7;
  align-items: center;
}
.notice-container .notice-part{
  width: 90%;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  color: #636363;
  margin-left: 10px;
}
.notice-container .wrapper{
  width: 90%;
  border-radius: 20px;
  box-shadow: -10px 5px 30px 10px #46a6ff18;
  margin-top:50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}
.rounding-img{
  border-radius: 15px;
  width: 25%;
  padding: 5px 0;
  box-shadow: -5px 10px 10px 10px #00000017;
  overflow: hidden;
  justify-content: center;
}
.rounding-img img{
  width: 100%;
}
.notice-container .text-view .list{
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: solid thin #46A6FF;
  border-top: solid thin #46A6FF;
}
.notice-container .text-view .text-part{
  font-size: small;
  color: #9e9e9e;
  width: 70%;
  margin-left: 50px;
  margin-bottom: 30px;
}
.notice-container .text-view .text-part p:nth-child(2){
  margin-left: 50px;
}
.notice-container .text-view .list #icon{
  margin-right: 5px;
}
.notice-container .text-view .prototype-view{
  width: 85%;
  justify-content: center;
}

.reviewRank #rank-num{
  font-size: large;
  margin-left: 20px;
}

.scroll-list{
  height: 50vh;
  overflow: scroll;
  padding-bottom: 100px;
  width: 100%;
}
form{
  width: 100%;
}
input[type=text]{
  all: unset;
  padding: 5px 10px;
  font-size: medium;

}
#info{
  font-size: small;
  border: solid #dcdcdc;
  border: solid #46A6FF;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transform: translate(40%, -130%);
  box-shadow: 2px 2px 2px 2px #46a6ff33;
}
#info > span:nth-child(1){
  color: #46A6FF;
}
.surrounding{
  height: 100%;
}
.scroll-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  max-height: 100vh;
  overflow: auto;
}
.more-btn{
  all: unset;
  color: #46A6FF;
  text-align: center;
  width: 100%;
}
.surrounding form{
  position: absolute;
  width: 100%;
  z-index: 9999;
  margin-top: 10px;
}

.store{
  width: 100%;
  min-height: 120vh;
  overflow: scroll;
}
.list{
  display: flex;
  align-items: center;
}
.store .map{
  border-top: solid thin #dddddd;
}
.detail > div{
  display: flex;
  padding: 10px 5px;
  align-items: center;
  font-weight: lighter;
  font-size: small;
  border-top: solid thin #eeeeee;
}
.detail > div:nth-child(1){
  border: none;
}
.detail #label{
  color: #b3b3b3;
  margin-right: 10px;
  font-size: large;
}
#navi{
  margin-right: 5px;
  border: solid thin #FAE100;
  border-radius: 25px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  font-size: small;
  gap: 5px;
  color: black;
  transform: translate(10px);
}
.navi-wrapper{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.list #tit{
  color: #636363;
  font-weight: lighter;
}
.list #price{
  flex: 1;
  text-align: end;
  color: #46A6FF;
}
#side{
  flex: 1;
  text-align: end;
  font-size: xx-small;
  color: #6f6f6f;
}
.review{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review >div{
  padding: 10px 0;
}
.review .star *{
  margin-right: 3px;
}
.review .detail span{
  margin-right: 5px;
  color: #6f6f6f;
}
.review-wrapper{
  margin-bottom: 100px;
}
.review-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: medium;
  padding: 15px;
  
}
.review-form > #star{
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  margin-top: 30px;
}
.review-form > #star >#small{
  font-size: x-large;
  margin-left: 10px;
  font-weight: bold;
  color: #e2c26e;
}
.review-form #content{
  all: unset;
  margin-top: 30px;
  width: 100%;
  overflow:hidden;
  resize: none;
  padding: 10px 4px; 
  position: relative;
}
.review-form .wrapper{
  font-size: small;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.review-form .wrapper label{
  padding: 5px 10px;
  background-color: #9c9789;
  color: white;
}
.review-form .wrapper #sbm-btn{
  border-left: white solid thin;
}
.reviewImg{
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 33vw);
  grid-auto-rows: 33vw;
  gap: 1px;
  cursor: pointer;
}
.grid >div{
  display: flex;
  background-color: black;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.grid .img{
  height: 100%;
  object-fit: cover;
}
.store-img{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.non-img{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.non-img span{
  margin-top: 30px;
}
.main-wrapper{
  width: 100%;
  margin-right:0;
  margin-bottom: 100px;
}
.main-wrapper .more-btn{
  align-items: center;
  width: 100%;
  text-align: center;
  flex: 1;
  border-top: solid thin #eeeeee;
  padding: 10px 0;
  font-size: small;
}
.main form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
:is(.surrounding, .main) input[type=text]{
  border: solid thin #46A6FF;
  border-radius: 5px;
  padding: 10px 20px ;
  box-shadow: 2px 2px 10px 2px #46a6ff1e;
  width: 85%;
  background-color: white;
}
.main form #search-btn{
position: absolute;
transform: translate(42vw);
color: #46A6FF;
}
.surrounding form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.surrounding form #search-btn{
  position: absolute;
  transform: translate(42vw);
  color: #46A6FF;
  }
  #back{
    font-size: large;
    margin-right: 10px;
  }
.logout-modal{
  padding: 5px 10px;
  border: solid thin #9c9789;
  position: absolute;
  background-color: white;
  margin-left: 60px;
  border-radius: 15px;
  font-size: small;
  font-weight: lighter;
}